.jumbotron {
    text-align: center;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid blue;
}

textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
}

.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
}

.hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
    padding-top: 15px;
    text-align: right;
    font-weight: bold;
}

.taskInput {
    text-align: center;
    border-radius: 10px;
}

.btn {
    background-color: #18bff1;
    border-radius: 10px;
}

.btn:hover {
    font-size: 20px;
    border: 3px solid green;
}

.past {
    background-color: #aaaaaa;
    color: black;
    font-style: italic;
}
  
.present {
    background-color: #ffee55;
    color: black;
}
  
.future {
    background-color: #22e99d;
    color: black;
}